<!DOCTYPE html>
<html lang="en"
      xmlns:layout="https://thymeleaf.org"
      layout:decorate="partials/_layout">
<head>
    <title th:fragment="title">States - Fleet App - Spring Boot Project</title>

    <style th:fragment="customCSS">
        .custom-me{
            color: red;
        }
    </style>
</head>
<body>

<div layout:fragment="content">

    <main id="main" class="main">

        <div class="pagetitle mb-5">
            <h1 class="custom-me">State</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{index}">Home</a></li>
                    <li class="breadcrumb-item">Global</li>
                    <li class="breadcrumb-item active">State</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addStateModal">
                        Add State
                    </button>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">State List</h5>
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="state:${stateList}">
                                        <td th:text="${state.id}"></td>
                                        <td th:text="${state.name}"></td>
                                        <td th:text="${state.country_id}"></td>
                                        <td th:text="${state.code}"></td>
                                        <td th:text="${state.details}"></td>
                                        <td>
                                            <a th:href="@{/states/show(id=${state.id})}" class="btn btn-secondary mb-3 btn-sm" id="showStateBtn">
                                                <i class="bi bi-eye text-light"></i>
                                            </a>
                                            <a th:href="@{/states/show(id=${state.id})}" class="btn btn-secondary mb-3 btn-sm" id="editStateBtn">
                                                <i class="bi bi-pen text-light"></i>
                                            </a>
                                            <a th:href="@{/states/delete(id=${state.id})}" class="btn btn-danger mb-3 btn-sm" id="deleteStateBtn">
                                                <i class="bi bi-trash text-light"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main><!-- End #main -->

    <!--  add state modal  -->
    <div class="modal fade" id="addStateModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add State</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{states}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="country" class="col-form-label">Country:</label>
                            <select name="country_id" id="country" class="form-control">
                                <option selected disabled>--SELECT--</option>
                                <option th:each="country:${countries}" th:value="${country.id}" th:text="${country.description}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="capital" class="col-form-label">Capital:</label>
                            <input type="text" class="form-control" id="capital" name="capital">
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-form-label">Code:</label>
                            <input type="text" class="form-control" id="code" name="code">
                        </div>
                        <div class="form-group">
                            <label for="details" class="col-form-label">Details:</label>
                            <input type="text" class="form-control" id="details" name="details">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  edit state modal  -->
    <div class="modal fade" id="editStateModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit State</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{states/update}" method="put">
                    <div class="modal-body">
                        <input type="hidden" name="id" id="editId">
                        <div class="form-group">
                            <label for="country" class="col-form-label">Country:</label>
                            <input type="text" id="editCountry" class="form-control">

                            <select name="country_id" id="" class="form-control" required>
                                <option selected disabled>--SELECT--</option>
                                <option th:each="country:${countries}" th:value="${country.id}" th:text="${country.description}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="editName" name="name">
                        </div>
                        <div class="form-group">
                            <label for="capital" class="col-form-label">Capital:</label>
                            <input type="text" class="form-control" id="editCapital" name="capital">
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-form-label">Code:</label>
                            <input type="text" class="form-control" id="editCode" name="code">
                        </div>
                        <div class="form-group">
                            <label for="details" class="col-form-label">Details:</label>
                            <input type="text" class="form-control" id="editDetails" name="details">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--  show state modal  -->
    <div class="modal fade" id="showStateModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View State Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="showName" class="col-form-label">Country:</label>
                        <input type="text" class="form-control" id="showCountry" disabled>
                    </div>
                    <div class="form-group">
                        <label for="showName" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="showName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="showCapital" class="col-form-label">Capital:</label>
                        <input type="text" class="form-control" id="showCapital" disabled>
                    </div>
                    <div class="form-group">
                        <label for="showDetails" class="col-form-label">Details:</label>
                        <input type="text" class="form-control" id="showDetails" disabled>
                    </div>
                    <div class="form-group">
                        <label for="showCode" class="col-form-label">Code:</label>
                        <input type="text" class="form-control" id="showCode" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--  delete state modal  -->
    <div class="modal fade" id="deleteStateModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete State</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure, you want to delete the state?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                    <a href="" id="confirmDeleteAction" class="btn btn-danger">Yes</a>
                </div>
            </div>
        </div>
    </div>

</div>


<script th:fragment="customJS">
    $(function() {
        $('table #showStateBtn').on('click',function (e){
            e.preventDefault();

            //find by id uri : states/show?id=1
            let uri = $(this).attr('href');
            $.get(uri,function (state, status){
                $('#showId').val(state.id)
                $('#showCapital').val(state.capital)
                $('#showName').val(state.name)
                $('#showCode').val(state.code)
                $('#showDetails').val(state.details)
                $('#showCountry').val(state.country_id)
            })

            $('#showStateModal').modal('show')
        });

        $('table #editStateBtn').on('click',function (e){
            e.preventDefault();

            //find by id uri : states/show?id=1
            let uri = $(this).attr('href');
            $.get(uri,function (state, status){
                $('#editId').val(state.id)
                $('#editCapital').val(state.capital)
                $('#editName').val(state.name)
                $('#editCode').val(state.code)
                $('#editDetails').val(state.details)
                $('#editCountry').val(state.country_id)
            })

            $('#editStateModal').modal('show')
        });

        $('table #deleteStateBtn').on('click',function (e){
            e.preventDefault();

            //find by id uri : countries/delete?id=1
            let uri = $(this).attr('href');
            $('#confirmDeleteAction').attr('href',uri);
            $('#deleteStateModal').modal('show')
        });
    });
</script>
</body>

</html>